body {
  font-family: 'Roboto' !important;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: 400;
}

.subtitle {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #666;
}

/* Steps Navigation */
.steps {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.close {
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #EFEFEF !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.step-conten:nth-child(even) {
  flex-direction: row-reverse;
}

.step {
  background-color: #f3f4f6;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 0.9em;
  color: #333;
  font-weight: 400;
  width: 100%;
}

.step span {
  font-weight: bold;
}

/* Step Details */
.step-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.step_content_flex {
  flex: 1;
}

.img_container {
  flex: 2;
  img {
    width: 100%;
  }
}

.step-content {
  flex: 1 1 45%;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  gap: 30px;
}

.step-content h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.step-content p {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #333;
}

.step-details .step-content:nth-child(even) {
  flex-direction: row-reverse;
}

.guide-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.step-content img {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* modal styles */
.modal-body { 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

.modal-content {
  border-radius: 24px !important;
}

.modal-header {
  align-items: center !important;
}


/* custom scroll bar */

.scrollbar {
  overflow: auto;
  padding: 0 10px;
  margin: 4px;
}

#scrollbar1::-webkit-scrollbar {
  width: 10px;
}

#scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #a3a3a3;
}

.modal-footer {
    padding: 4ox;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal.fade .modal-dialog {
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.modal.show .modal-dialog {
  animation: slideUp 0.3s ease-out;
}
.modal-open .modal {
    overflow: hidden !important;
}

/* responsive */
@media (max-width: 786px) {
  .breadcrumb_container {
    display: none;
  }
  .steps .step {
    width: 100%;
    /* font-size: 0.8em; */
  }
  .step-content {
    flex-direction: column !important;
  }

  .modal-content {
    width: 100vw;
    height: 100vh;
    border-radius: 0 !important;
  }
  .modal-dialog {
    margin: 0 !important;
    padding: 0 !important;
  }

  .modal {
    background: white;
  }
}
