 body {
     background: #F9F9F9 !important;
     font-family: 'Roboto' !important;

 }

 .section1 {
     background-image: url(./images/background.png);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     width: 100%;
     height: 500px;

     @media(max-width:768px) {
         height: 230px !important;
     }
 }

 span#basic-addon1 {
     background-color: #fff !important;
 }

 .input-group {
     width: 690px !important;
     height: 48px !important;
     border-radius: 8px !important;

     @media(max-width:768px) {
         width: 100% !important;
     }
 }

 .row {
     display: flex;
     flex-wrap: wrap;
     gap: 16px;
 }

 .wrapper {
     padding-top: 9%;

     >h1 {
         color: #fff;
     }

     >h3 {
         color: #fff;
         margin-bottom: 32px;
     }
 }

 .tabCard {

     grid-template-columns: repeat(4, 1fr) !important;
     display: grid !important;
     grid-gap: 16px;
     align-items: center;
     width: 100%;
     margin-top: 8%;

     @media screen and (max-width: 768px) {
         grid-template-columns: repeat(2, 1fr) !important;
         margin-top: 20%;
     }


 }

 .tabCard .card {
     border-radius: 16px;
     background: #FFF;
     padding: 18px 16px;
     min-width: 262px;
     min-height: 136px;
     box-shadow: 0px 7.907px 7.907px 0px rgba(0, 0, 0, 0.02);
     border-radius: 4px;
     text-align: center;
     margin-bottom: 16px;
     border: unset !important;
     cursor: pointer;
     font-size: 18px;
     font-weight: 500;

     @media screen and (max-width: 768px) {
         min-width: 100%;
         padding: 18px 8px;
         font-size: 14px;
     }
 }

 .desktop button.accordion-button.collapsed::after {
     background-image: url("./images/plus.svg") !important;
 }

 .desktop .accordion-button:not(.collapsed)::after {
     background-image: url("./images/minus.svg") !important;
 }


 .card .icon {
     width: 60px;
     height: 60px;
 }

 .card .cardInfo {
     display: flex;
     justify-content: center;
     gap: 20px;
     align-items: center;
 }

 .cardInfo {
     margin: 15px 0px 0px 0px;
 }

 .cardInfo p {
     margin-bottom: 0px;
 }

 .title {
     color: #1D1D1B;
     font-size: 32px;
     font-weight: 500;
     margin-top: 30px;

     @media(max-width:768px) {
         font-size: 20px;
         margin:24px 0px 16px;

     }
 }

 .nav {
     background: #fff;
 }

 .nav-info {
     display: flex;
     gap: 15px;
 }

 .nav-link {
     color: #000 !important;
     font-size: 18px !important;
     border-bottom: 1px solid #E8E8E8 !important;
     border-radius: 0px !important;
     display: flex !important;
     align-items: baseline;
     justify-content: space-between;
     width: 310px !important;

     & svg path {
         fill: #000 !important;
     }
 }

 .nav-link.active {
     background-color: #fff !important;
     color: #E78B40 !important;
     border-bottom: 1px solid #E78B40 !important;

     & svg path {
         fill: #E78B40 !important;
     }

 }

 div#v-pills-tabContent {
     width: 100% !important;
 }

 button.accordion-button.collapsed {
     color: #1D1D1B !important;
     font-size: 18px !important;
     font-weight: 500;
 }

 .accordion-item {

     border-color: #FFF !important;
     background: #FFF !important;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02) !important;
     margin-bottom: 16px !important;
 }

 .accordion-button:not(.collapsed) {
     color: #1D1D1B !important;
     font-size: 18px;
     font-weight: 500 !important;
     background-color: unset !important;
     box-shadow: unset !important;
 }

 .card-header {
     border: unset;
     border-radius: 8px;
     background: #FFF;
     cursor: pointer;

 }

 @media(max-width: 768px) {
     .desktop {
         display: none !important;
     }
 }

 .responsive {
     display: none;

     @media(max-width: 768px) {
         display: block;
     }
 }

 .collapse-tap {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 14px 20px;
     background: #FFF;
     margin-bottom: 8px;
     >div{
        display: flex;
        gap: 8px;
        align-items: center;
        >p {
            margin-bottom: 0px;
        }
     }

     
 }

 #tapContetnt {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 14px 20px;
     background: #FFF;
     margin-bottom: 8px;
     font-weight: 500;

     >p {
         margin-bottom: 0px;
     }
 }

 .titleInfo {
     display: flex;
     justify-content: space-between;
     font-size: 18px;
     font-weight: 500;

     >p {
         margin-bottom: 0px;
     }
 }



 /* SECOND PAGE WITH MODAL */

  
  h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .subtitle {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #666;
  }
  
  /* Steps Navigation */
  .steps {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .close {
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    background: #EFEFEF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    border: unset;
    font-size: 22px;
  }
  
  .step-conten:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .step {
    background-color: #f3f4f6;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 0.9em;
    color: #333;
    font-weight: 400;
    width: 100%;
  }
  
  .step span {
    font-weight: bold;
  }
  
  /* Step Details */
  .step-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .step_content_flex {
    flex: 1;
  }
  
  .img_container {
    flex: 2;
    img {
      width: 100%;
    }
  }
  
  .step-content {
    flex: 1 1 45%;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    gap: 30px;
  }
  
  .step-content h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .step-content p {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #333;
  }
  
  .step-details .step-content:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .guide-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .step-content img {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  /* modal styles */
  .modal-body {  
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
  }
  
  .modal-content {
    border-radius: 24px !important;
  }
  
  .modal-header {
    align-items: center !important;
  }
  
  
  /* custom scroll bar */
  
  .scrollbar {
    overflow: auto;
    padding: 0 10px;
    margin: 4px;
  }
  
  #scrollbar1::-webkit-scrollbar {
    width: 10px;
  }
  
  #scrollbar1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }
  
  #scrollbar1::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a3a3a3;
  }
  
  .modal-footer {
      padding: 4ox;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .modal.fade .modal-dialog {
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  
  .modal.show .modal-dialog {
    transform: translateY(0);
  }
  
  .modal.show .modal-dialog {
    animation: slideUp 0.3s ease-out;
  }
  .modal-open .modal {
      overflow: hidden !important;
  }
  
  /* responsive */
  @media (max-width: 786px) {
    .breadcrumb_container {
      display: none;
    }
    .steps .step {
      width: 100%;
      /* font-size: 0.8em; */
    }
    .step-content {
      flex-direction: column !important;
    }
  
    .modal-content {
      width: 100vw;
      height: 100vh;
      border-radius: 0 !important;
    }
    .modal-dialog {
      margin: 0 !important;
      padding: 0 !important;
    }
  
    .modal {
      background: white;
    }
  }
  